body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  line-height: 1.6;
}
/*
a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}*/

/*body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: white;
  color: #111;
  line-height: 1.6;
}*/

a {
  color: #333;
  text-decoration: none;
}

/*
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff4d;
  
}*/

.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid #ddd;
}


.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a:hover {
  color: hsl(0, 0%, 100%);
}

.sfondo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*.intro {
  padding: 4rem 2rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: auto;  
}*/

.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
}


/*.intro-content {
  background-color: #ffffff4d;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  color:  #000000;
  max-width: 800px;
}*/

.intro-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: black;
}

.intro-content h1 {
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.intro h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.projects {
  padding: 4rem 2rem;
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.projects-content img {
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}

.project-text {
   background-color: #ffffff4d;
  max-width: 500px;
  color: hsl(0, 0%, 0%);
  padding: 20px;;
}

.project-text button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: #ffffff;
  color: hsl(0, 0%, 0%);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
}

.project-text button:hover {
  background-color: hsl(0, 0%, 100%);
}

.contacts {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 2rem;
  border-top: 1px solid hsl(0, 0%, 0%);
}

.contact-left, .contact-right {
  flex: 1 1 300px;
  margin-bottom: 2rem;
}

.contact-detail{
  background-color: #ffffff4d;
  max-width: 500px;
  padding: 20px;;
}

.contact-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-left h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact-left p {
  font-size: 1.2rem;
} 

footer {
  text-align: center;
  padding: 1rem;
background-color: #ffffff4d;
  font-size: 0.9rem;
  border-top: 1px solid hsl(0, 0%, 0%);
}

.contact-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.homepage-logo {
  height: 50px;
  width: 50px;
}

.contact-box {
  background-color: #ffffff4d;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 100%);
}

.contact-info h2 {
  font-size: 1.4rem;
  margin: 0;
}

.contact-info p {
  font-size: 1.1rem;
  margin: 5px 0 0 0;
}